h2 {
    font-family: 'Ibarra Real Nova', serif;
    color: #65222C; 
    margin-bottom: 0px;
}

h3 {
    font-family: 'Ibarra Real Nova', serif;
    color: #65222C; 
    margin-bottom: 0px;
}

#main-header {
    text-align: center;
    background-color: #383B45;
    height: 150px;
    color: #FFFAFE;
    padding-top: 40px;
    border-bottom: 3px solid #65222C;
}

#main-header h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 64px;
}

#header-pink-band {
    background-color: #FFC8CC;
    height: 25px;
}

.bold-display-heading {
    font-weight: 800;

}

.grey-display-heading {
    font-weight: 400;
    font-size: 14px;
}

#headshot {
    z-index: 11;
    position: relative;
}

.headshot-circles {
    background-color: #D8A858;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
}

.hc1 {
    width: 120px;
    height: 120px;
    bottom: -10px;
    right: 130px;
    z-index: 12;
}

.hc2 {
    width: 40px;
    height: 40px;
    bottom: -10px;
    right: 130px;
    z-index: 13;
}

.hc3 {
    width: 120px;
    height: 120px;
    top: -30px;
    right: 5px;
    z-index: 10;
}

.hc4 {
    width: 70px;
    height: 70px;
    top: -30px;
    right: 100px;
    z-index: 9;
}

.hc5 {
    width: 40px;
    height: 40px;
    top: -40px;
    right: 85px;
}

#chico-section {
    padding-top: 200px;
}

.pinklinks {
    background-color: #FFC8CC;
    border: 3px dotted #65222C;
    border-radius: 50%;
    position: absolute;
    font-size: 32px;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
}

a .pinklinks {
    color: #383B45;
}

a:hover .pinklinks {
    text-decoration: none;
}

.c1 {
    width: 200px;
    height: 200px;
    top: -100px;
    right: 75px;
    line-height: 200px;
}

.c2 {
    width: 150px;
    height: 150px;
    top: -80px;
    right: 320px;
    line-height: 150px;
}

.c3{
    width: 130px;
    height: 130px;
    top: -60px;
    left: 75px;
    line-height: 130px;
}

#main-footer {
    background-color: #383B45;
    height: 40px;
    border-top: 3px solid #65222C;
}